*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
   
}

ol,
ul {
    list-style: none;
   
   
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

p{
    font-size: 12px;
    font-weight: 500;
}

.button-primary{
    background-color: #2f3c73;
    color: #fff;
    padding: 10px 30px;
    font-family: 'ubuntu' sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
    border: none;


}

.button-primary:hover{
    color: #fff;
    text-decoration: none;
    background-color: #767676;
}


/* Helper */
.pb-100{
   
    padding-bottom: 100px;
}
.pt-100{
    padding-top: 100px;

}

.pt-50{
    padding-top: 50px;
} 

.pb-50{

    padding-bottom: 50px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-20{
    padding-bottom: 20px;
}

.pb-30{
    padding-bottom: 30px;

}

.mtb-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.prl-50{
    padding-left: 50px;
    padding-right:50px ;
}
.color-red{
    color: red;

}
.color-blue{
    color: blue;

}
.color-green{
    color: green;


}
.bg-white{
background-color: #fff;
}

.text-grey{
    color: #767676;
}

.border{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   

}

.p-font{
    font-size: 15px;
}
/*End of Helper */





