@import url(reset.css);

img {
    max-width: 100%;
}

/*Flex Utilities*/
/* why because p-3 is 1 rem in bootstrap */
.flex-gap-3 {
    gap: 1rem;
}

.flex-gap-2 {
    gap: 0.5rem;
}
.button-primary{
    background-color: #2f3c73;
    color: #fff;
    padding: 10px 30px;
    font-family: 'ubuntu' sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
    border: none;
   
    text-decoration: none;

}
a:hover{
    color: #f5f5f5;
   
}

.button-primary:hover{
    color: #2f3c73;
    background-color: #f5f5f5;
    cursor: pointer;
    text-decoration: none;
}



/* navbar section */
.responsive-menu-container {
    display: none;
}

.navbar .row .responsive-menu-container i {
    color: #F08080;
    margin-top: 10px;
}

.navbar .row {
    padding: 20px 14%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 3px;
    left: 0;
    right: 0;


}

.navbar .row .logo i {
    font-size: 50px;
    color: #F08080;
}

.navbar .menu ul {
    display: inline-flex;
    margin-bottom: 0;


}

.navbar .menu ul li {
    margin-left: 20px;
    text-transform: uppercase;

}

.navbar .menu ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #F08080;
}

.navbar .menu ul li a i {
    font-size: 20px;
}

/* popup section */
.modal-wrapper{
   
    max-width: 600px;
    margin: 0 auto;
}
.active{
    opacity: 1;
}

/* .modal-container .cross{
    position: absolute;
    top: 40%;
    left: 70%;
    padding: 0px 10px;
    color: red;
    background-color: transparent;
    display: flex;
    font-size: 15px;
    flex-direction: row;
    align-content: center;
} */

.modal-wrapper .modal-container input{  
    height:35px ;
    width: 500px;
    
   

}
button.mfp-close {
    top: -4px;
    right: 33%;
}
/* .modal-container .cross:hover{
    color: #6B46C1;

} */






.btn-purple{
    background-color: #6B46C1;
   
    color: #fff;
    border-radius: 4px;
    font-size: 14px;

}
/*End popup section */

/*End navbar section */


/* main-header section */
/* Coursel section */
/* .carousel-button {
    height: 20px;
    width: 20px;
    border-radius: 15px;
    opacity: 0.2;
    margin: 0 3px;
    border: 1px solid black;

}

.carousel-indicator-pb-20 {
    padding-bottom: 20px;
}

.carousel-caption {
    right: 55%;
    bottom: 60%;
    left: 16%;
    top: 30%;
    color: #f5f5f5;
    text-align: left;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 0;
    width: 4%;
    background: 0 0;
    border: 0;
} */
/*End coursel section */

/* swiperjs */
.main-header .swiper-wrapper .swiper-slide img{
    height: 700px;
    width: 100%;
}

/*End swiperjs */
/*End main-header section */


/*first section */
.first-section {
    background-color: #f5f5f5;
}

.description {
    text-align: center;

}

.first-section .description {
    padding: 0 1.5rem 0 1.5rem;
}

.first-section .row {
    text-align: center;
    justify-content: space-around;

}


.first-section .row i {
    font-size: 70px;
}

/*End first section */


/* second section */

.second-section .row .col-xl-8 {
    background-color: #303d72;
    color: #FFF;
    padding: 1.5rem;


}


.second-section .row .col-xl-4 {

    padding: 0px;
}


.second-section .row .col-xl-4 img {
    width: 100%;
}

/*End second section */


/* third section */

.third-section .row .col-xl-4 {
    text-align: center;
}

.third-section .row .col-md-4 {
    padding: 0;
}

.third-section .row .col-md-4 img {
    width: 100%
}



.third-section {
    background-color: #f5f5f5;
}

.third-section .row {
    padding: 1.5rem;
}


/*End third section */




/*End fourth-section */


/* fifth section */
.fifth-section {
    background-color: #f5f5f5;
}

.fifth-section .description {
    padding: 2.5rem 1.5rem;
}

.fifth-section .row {
    justify-content: space-around;
}

.fifth-section .row .card {
    margin: 0 3rem;
}

.fifth-section .row .card img {
    width: 290px;
    height: 220px;
    padding: 30px 50px 0px 50px;

}

.fifth-section .row .card .card-body {
    text-align: center;
    padding-bottom: 45px;
}

.fifth-section .row .card .card-title {
    font-size: 50px;
    font-weight: bold;
}

/*End fifth section */


/* sixth section */

.sixth-section .description {
    padding: 2.5rem 1.5rem;
}

.sixth-section .row .col-xl-6 {
    text-align: center;

    padding: 0;

}

.sixth-section .row .col-xl-6 .row {
    text-align: center;


}

/*End sixth section */


/* seventh section */

.seventh-section {
    background-color: #f5f5f5;
}

.seventh-section .row {
    justify-content: space-around;

}

.seventh-section .row .card {
    margin-left: 1rem;
    margin-right: 1rem;
}

.seventh-section .row .card .card-body {
    text-align: center;
    padding-bottom: 50px;
}

.seventh-section h2 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

/*End seventh section */


/* eight section */
.eight-section .row {
    background-color: #303d72;
    color: #FFF;
    justify-content: space-between;
    text-align: center;
    padding: 1.5rem;

}
.eight-section .row button:hover{
    color: #f5f5f5;
    background-color: #2f3c73;
    cursor: pointer;
}





.eight-section .row button {
    color: #303d72;
    height: 40px;
    width: 130px;
    font-family: 'ubuntu', sans-serif;
    font-weight: 300;
    margin-left: 27%;
}


/*End eight section */


/* footer section */
.footer {
    background-color: #f5f5f5;
}


.footer .row {
    padding: 1.5rem 0;
    text-align: center;
}

.footer .row .col-xl-3 .icons {
    font-size: 21px;
}

.footer .row .col-xl-3 h3 {
    font-size: 40px;
}

.footer .row .col-xl-3 h4 {
    padding-bottom: 15px;
}

.footer .row .col-xl-3 .icons i {
    background-color: black;
    color: white;
    height: 32px;
    width: 32px;
    border-radius: 20px;
    padding: 5px 0px 0px 1px;

}

/*End footer section */


/* super-footer section */
.super-footer p {
    padding: 20px 30px;
    text-align: center;

}

/*End super-footer section */


/* underline  */
.underline {
    position: relative;
}

.underline::after {
    content: '';
    width: 60px;
    border-bottom: 3px solid;
    padding-bottom: 10px;
    position: absolute;
    left: 0;
    bottom: -10px;

}

/*End underline  */



/* Responsive */

@media screen and (min-width:320px) {
    .main-header .swiper-wrapper .swiper-slide img{
        height: 300px;
        width: 100%;
    }
    .fifth-section .row .card{
        margin: 0;
    }
    .button-primary{
        background-color: #2f3c73;
        color: #fff;
        padding: 10px 10px;
        font-family: 'ubuntu' sans-serif;
        font-weight: 300;
        margin-bottom: 20px;
        border: none;
        cursor: pointer;
        text-decoration: none;
    
    }


}


@media screen and (min-width:768px) {
    .main-header .swiper-wrapper .swiper-slide img{
        height: 500px;
        width: 100%;
    }

    .third-section .row {
        flex-wrap: nowrap;
        padding: 0%;
    }

    .third-section .row .col-xl-4 {
        padding: 60px 35px 35px 35px;
    }

    .eight-section .row {

        background-color: #303d72;
        color: #FFF;
        justify-content: space-between;
        align-items: center;
        margin: 0px;

        padding: 50px ;

    }
    .eight-section .row h4{
        text-align: left;
    }
    

}
@media screen and (min-width:1024px){
    .main-header .swiper-wrapper .swiper-slide img{
        height: 700px;
        width: 100%;
    }
    .third-section .row {
        flex-wrap: nowrap;
        padding: 0%;
    }

    .third-section .row .col-xl-4 {
        padding: 100px 35px 35px 35px;
    }
    .fifth-section .row .card  {
        margin: 0 6rem;
    }
    .seventh-section .row{
        margin: 0 7rem;
    }
    

}




@media only screen and (max-width: 1024px) {
    .menu {
        display: none;
    }



    .responsive-menu-container {



        display: flex;




    }


    .responsive-menu {
        display: none;
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        top: 155%;
        width: 100%;
        padding: .5rem;
        background-color: #ccc;
        background-image: repeating-radial-gradient(#F08080, #F08080 10%, #f1b884);
        opacity: 0.9;
        transition:ease-in-out;
       

    }



    .responsive-menu-container.open .responsive-menu {
        display: block;
        text-align: center;

    }

    
}



@media screen and (min-width:1200px) {

    .first-section {
        padding: 100px 0px;
    }

    .second-section .row .col-xl-8 .description {
        text-align: left;
        padding: 120px 200px;
    }

    .second-section .row .col-xl-8 {
        padding: 0;
    }

    .third-section .row {
        padding: 0rem;

    }

    .third-section .row .col-xl-4 {

        padding: 118px 157px;
        text-align: left;
    }

    .third-section .row .col-md-4 img {
        height: 400px;
    }

    .fifth-section .description {
        padding: 100px 1.5rem 30px 1.5rem;
    }

    .fifth-section .row .card {
        margin: 0 3rem;
    }

    .sixth-section .row .col-xl-6 .row {
        text-align: left;
    }


    .seventh-section .row {
        padding-bottom: 70px;
        margin: 0;
    }

    .seventh-section .row .card {
        margin-left: 0;
        margin-right: 0;
    }


    .eight-section .row {

        background-color: #303d72;
        color: #FFF;
        justify-content: space-between;

        margin: 0px;

        padding: 50px 210px 50px 210px;
    }

    .eight-section .row h4 {
        text-align: left;
    }


    .footer .row {

        padding: 50px 20px 0px 20px;
        text-align: left;
    }

    .footer .row .col-xl-3 .icons i {
        background-color: black;
        color: white;
        height: 32px;
        width: 32px;
        border-radius: 20px;
        padding: 5px 0px 0px 7px;

    }

    .super-footer p {
        padding: 20px 30px;
        text-align: left;
    }

    .description {
        text-align: center;
        padding: 100px 1.5rem 30px 1.5rem;
    }

    .fifth-section .row {
        flex-wrap: nowrap;
    }
   
    

}

/*End Responsive */