@import url(reset.css);


/* main-header section */


.main-header .row {
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.main-header .menu ul {
    display: inline-flex;
}

.main-header .menu ul li {
    margin-left: 20px;
    text-transform: uppercase;
}

.main-header .menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

/*End main-header section */


/*first section */

.first-section {
    background-color: #f5f5f5;
}

.description {
    text-align: center;
}

.first-section .row {
    text-align: center;
    justify-content: space-evenly;
}

.first-section .row i {
    font-size: 70px;
}

/*End first section */


/* second section */
.second-section .row .col-8 {
    background-color: #303d72;
}

.second-section .row .col-4 {
    padding: 0px
}

.second-section .row .col-4 img {
    width: 100%;
}

/*End second section */


/* third section */
.third-section .row .col-md-4 {
    padding: 0;
}

.third-section .row .col-md-4 img {
    width: 100%
}

.third-section {
    background-color: #f5f5f5;
}

.third-section .row .col-4 {
    padding: 130px;
    margin: auto 0;
}

/*End third section */


/* fifth section */
.fifth-section {
    background-color: #f5f5f5;
}

.fifth-section .description {
    padding: 100px 0px 50px 0px;
}

.fifth-section .row {
    justify-content: space-evenly;
}

.fifth-section .row .card img{
    width: 250px;
    height: 200px;
    padding:50px 50px 0px 50px;
    
}
.fifth-section .row .card .card-body {
text-align: center;
}
.fifth-section .row .card .card-title{
    font-size: 50px;
    font-weight: bold;
}




/*End fifth section */


/* seventh section */
.seventh-section {
    background-color: #f5f5f5;
}

.seventh-section .row {
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.seventh-section .row .card .card-body {
    text-align: center;
}

.seventh-section h2 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

/*End seventh section */


/* eight section */
.eight-section .row {
    background-color: #303d72;
    color: #FFF;
    padding: 50px 255px 50px 250px;
    justify-content: space-between;
    align-items: center;
}

.eight-section .row button {
    color: #303d72;
    height: 40px;
    width: 130px;
    font-family: 'ubuntu', sans-serif;
    font-weight: 300;
}

/*End eight section */


/* footer section */
.footer {
    background-color: #f5f5f5;
}


.footer .row .col-3 {
    text-align: left;
    padding: 50px 45px;
}

.footer .row .col-3 .icons {
    font-size: 21px;
}

.footer .row .col-3 h3 {
    font-size: 40px;
}

.footer .row .col-3 h4 {
    padding-bottom: 15px;
}

.footer .row .col-3 .icons i {
    background-color: black;
    color: white;
    height: 32px;
    width: 32px;
    border-radius: 20px;
    padding: 5px 0px 0px 7px;

}

/*End footer section */


/* super-footer section */
.super-footer p {
    padding: 20px 30px;
    text-align: left;

}

/*End super-footer section */